body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #49c45e;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
    }

 

#question-container {
    margin: 20px 0;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.densidad {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

.tabla-periodica {
    display: grid;
    grid-template-columns: repeat(18, 50px);
    gap: 5px;
    justify-content: center;
}

    .elemento {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#info-elemento {
    margin-top: 20px;
    font-size: 18px;
}    

    
    
    
}
